<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Sports Scheduler</title>
</head>
<body>
    <div class="flex justify-center items-center h-screen bg-teal-500">
        <div class="w-96 p-6 shadow-lg bg-white rounded-md">
      <%- include('header') %>
      <a href="/signout">Signout</a>
    <form action="/admin" method="post">
        <div class="flex gap-2 py-4">
            <div class="flex-auto">
                <input type="text" 
                    name="title" 
                    placeholder="Add Sport" 
                    class="border border-black-300 rounded text-black-900 w-full p-2 text-sm" 
                     />
            </div>
            <div class="flex-none">
                <button type="submit" 
                    class="bg-green-600 text-white px-5 py-1.5 rounded font-medium mr-2 mb-2">
                        Add
                </button>
            </div>
        </div>
    </form>
    </div>
   </div>  
</body>
</html>