<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content= "<%= csrfToken %>"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Sports Scheduler</title>
</head>
<body>
   <div class="grid grid-cols-6">
    <div class="col-start-3 col-span-2">
      <%- include('header') %>
      <a href="/signout">Signout</a>
      <h3 class="text-l font-semibold text-black-600"><%= UserName %></h3>
    <form action="/" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
        <input type="date" 
                    name="date" 
                    class="border border-black-300 rounded text-black-900 w-full p-2 text-sm" 
                     />
        <input type="time" 
                name="time" 
                class="border border-black-300 rounded text-black-900 w-full p-2 text-sm" 
                />             
            <div class="flex-none">
                <button type="submit" 
                    class="bg-green-600 text-white px-5 py-1.5 rounded font-medium mr-2 mb-2">
                        Select
                </button>
            </div>
        </div>
    </form>
    </div>
   </div>  
</body>
</html>