<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sports Scheduler</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include('header') %>
    <div class="flex justify-center items-center h-screen bg-teal-500">
      <div class="w-96 p-6 shadow-lg bg-white rounded-md">
        <p class="py-2"> Welcome to the Sports Scheduler</p>
        <p class="py-2">New here? <a href="/signup" class="text-teal-800">Sign-up Now</a></p>
        <p class="py-2">Already have an account? <a href="/login" class="text-teal-800">Sign-in</a></p>
      </div>
    </div>
  </body>
</html>